* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

button {
    float: right;
}

h1, h3 {
    text-align: center;
}
